@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap");

/*********  Resets  **********/
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html,
body {
  height: 100%;
  line-height: 1.5;
}
input,
button {
  border: none !important;
  outline: none !important;
}
ul,
li,
a {
  text-decoration: none;
}
body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-track {
  background: #f1f1f1;
}

body::-webkit-scrollbar-thumb {
  background: #e7be05;
  border-radius: 15px;
}

body::-webkit-scrollbar-thumb:hover {
  background: #555;
}

body {
  font-family: "Roboto", sans-serif;
}

@media screen and (min-width: 768px) {
  html {
    scroll-behavior: smooth;
  }
}
